In [1]:
import pandas as pd
import numpy as np
import math
from matplotlib import pyplot as plt
plt.style.use("ggplot")

In [2]:
df = pd.read_csv("train_dataset.csv")

In [3]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,Dest,Distance,TaxiIn,TaxiOut,target,rid
0,1,1,2,1007.0,1109.0,AA,511,N404AA,34.0,AUS,DFW,190,15.0,13.0,1,!xHAZ)vQm@t&
1,1,1,2,1411.0,1521.0,NW,1631,N363NB,37.0,TVC,DTW,207,9.0,24.0,1,pnMH?2t%m!06
2,1,1,2,859.0,1112.0,MQ,4645,N700LE,103.0,BDL,RDU,532,3.0,27.0,0,sOeRdNAX6?qg
3,1,1,2,1835.0,2159.0,MQ,4838,N704PG,130.0,XNA,LGA,1147,6.0,8.0,1,7MP?6qD1wlQR
4,1,1,2,1305.0,1924.0,US,185,N655AW,229.0,PHX,FLL,1972,9.0,21.0,1,2Dn3?5p7i)Fd

In [4]:
df["TailNum"] = df["TailNum"].fillna("UNKNOWN")

In [9]:
df.isnull().sum()

Month                0
DayofMonth           0
DayOfWeek            0
DepTime              0
ArrTime          75659
UniqueCarrier        0
FlightNum            0
TailNum              0
AirTime          77222
Origin               0
Dest                 0
Distance             0
TaxiIn           75659
TaxiOut          68411
target               0
rid                  0
dtype: int64

In [8]:
df['DepTime'] = df['DepTime'].fillna(df['DepTime'].mean())

In [10]:
df['ArrTime'] = df['ArrTime'].fillna(df['ArrTime'].mean())

In [11]:
df['AirTime'] = df['AirTime'].fillna(df['AirTime'].mean())

In [13]:
df['TaxiIn'] = df['TaxiIn'].fillna(df['TaxiIn'].mean())

In [14]:
df['TaxiOut'] = df['TaxiOut'].fillna(df['TaxiOut'].mean())

In [15]:
df.isnull().sum()

Month            0
DayofMonth       0
DayOfWeek        0
DepTime          0
ArrTime          0
UniqueCarrier    0
FlightNum        0
TailNum          0
AirTime          0
Origin           0
Dest             0
Distance         0
TaxiIn           0
TaxiOut          0
target           0
rid              0
dtype: int64

In [20]:
df.groupby("UniqueCarrier")["target"].mean()

UniqueCarrier
9E    0.207246
AA    0.330748
AQ    0.113289
AS    0.274198
B6    0.293772
CO    0.358841
DL    0.269521
EV    0.305233
F9    0.319986
FL    0.287001
HA    0.132341
MQ    0.302457
NW    0.238788
OH    0.285490
OO    0.247280
UA    0.329056
US    0.231669
WN    0.335544
XE    0.290302
YV    0.274990
Name: target, dtype: float64

In [30]:
seasons = ("-", "W", "W", "P", "P", "P", "S", "S", "S", "A", "A", "A", "W")
df["Season"] = df["Month"].map(lambda m: seasons[m])

In [38]:
df.groupby("Season")["Month"].unique()

Season
A    [9, 10, 11]
P      [3, 4, 5]
S      [6, 7, 8]
W     [1, 2, 12]
Name: Month, dtype: object

In [36]:
df.groupby("Season")["target"].describe()

           count      mean       std  min  25%  50%  75%  max
Season
A       809943.0  0.201297  0.400970  0.0  0.0  0.0  0.0  1.0
P       909488.0  0.295879  0.456437  0.0  0.0  0.0  1.0  1.0
S       925149.0  0.311480  0.463099  0.0  0.0  0.0  1.0  1.0
W       860284.0  0.351807  0.477534  0.0  0.0  0.0  1.0  1.0

In [43]:
len(df['Origin'].unique())

MemoryError: