# <center> Домашнее задание 3
Данная домашняя работа основана на материалах открытого курса по машинному обучению программиста-исследователя Mail.ru Group Кашницкого Ю.    
## <center> Анализ данных по сердечно-сосудистым заболеваниям

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным о сердечно-сосудистых заболеваниях (файл hw3_train.csv).**

**Заполните код в клетках (где написано "Ваш код здесь") и ответьте на вопросы в [веб-форме](https://goo.gl/forms/SyKbMCNvC5gnQvm43).**

В соревновании предлагалось определить наличие/отсутствие сердечно-сосудистых заболеваний (ССЗ) по результатам осмотра пациента.

**Описание данных.**

Объективные признаки:

 - Возраст (age)
 - Рост (height)
 - Вес (weight)
 - Пол (gender)
 

Результаты измерения:

 - Артериальное давление верхнее и нижнее (ap_hi, ap_lo)
 - Холестерин (cholesterol)
 - Глюкоза (gluc)
 

Субъективные признаки (со слов пациентов):

 - Курение (smoke)
 - Употребление алкоголя (alco)
 - Физическая активность (active)
 
Целевой признак (который интересно будет прогнозировать):
 - Наличие сердечно-сосудистых заболеваний по результатам классического врачебного осмотра (cardio)

Значения показателей холестерина и глюкозы представлены одним из трех классов: норма, выше нормы, значительно выше нормы. Значения субъективных признаков — бинарны.

Все показатели даны на момент осмотра.

Мы будем работать только с обучающей выборкой и с помощью `Pandas` проведем первичный анализ данных.

Из библиотек нам понадобятся только `NumPy` и `Pandas`.

In [1]:
import numpy as np
import pandas as pd

Считываем данные из CSV-файла в объект pandas DataFrame.

In [2]:
df = pd.read_csv('hw3_train.csv', sep=';', index_col='id')

Посмотрим на первые 5 записей.

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

**<font color='red'>Вопрос 1: </font> Сколько мужчин и женщин представлено в этом наборе данных? Не было дано расшифровки признака "пол" (какому полу соответствует 1, а какому – 2 в признаке ``gender``) – это определите, посмотрев также на рост при разумном предположении, что в среднем мужчины выше.**

**<font color='red'>Варианты:</font>**
- 45530 женщин и 24470 мужчин
- 45530 мужчин и 24470 женщин
- 45470 женщин и 24530 мужчин
- 45470 мужчин и 24530 женщин

In [8]:
df.groupby(['gender'])['height'].describe()

          count        mean       std   min    25%    50%    75%    max
gender
1       45530.0  161.355612  7.052726  55.0  157.0  161.0  166.0  250.0
2       24470.0  169.947895  7.228895  65.0  165.0  170.0  175.0  207.0

<font color='green'>Вывод: </font> 1 - Женщины, 2 - Мужчины

**<font color='red'>Вопрос 2: </font> Кто в среднем чаще указывает, что употребляет алкоголь – мужчины или женщины?**

**<font color='red'>Варианты:</font>**
- мужчины 
- женщины

In [11]:
df.groupby(['gender'])['alco'].mean()

gender
1    0.025500
2    0.106375
Name: alco, dtype: float64

<font color='green'>Вывод: </font> Мужчины

**<font color='red'>Вопрос 3: </font> Во сколько раз (округленно, `round`) процент курящих среди мужчин больше, чем процент курящих среди женщин (по крайней мере, по этим анкетным данным)?**

**<font color='red'>Варианты:</font>**
- 4
- 8
- 12
- 16

In [12]:
round(df[df['gender'] == 2]['smoke'].mean() / df[df['gender'] == 1]['smoke'].mean())

12

<font color='green'>Вывод: </font> 12

**<font color='red'>Вопрос 4: </font> Постройте новый признак – BMI ([Body Mass Index](https://en.wikipedia.org/wiki/Body_mass_index)). Для этого надо вес в килограммах поделить на квадрат роста в метрах. Нормальными считаются значения BMI от 18.5 до 25. Выберите верные утверждения.**

**<font color='red'>Утверждения:</font>**
- Медианный BMI по выборке лежит в пределах нормы
- У женщин в среднем BMI выше, чем у мужчин
- У здоровых в среднем BMI выше, чем у больных
- В сегменте здоровых и непьющих мужчин BMI ближе к норме, чем в сегменте здоровых и непьющих женщин

In [55]:
df['bmi'] = (df['weight'] * 100) / ((df['height'] / 10) ** 2)

In [81]:
display(df['bmi'].median())

display(df.groupby(['gender'])['bmi'].describe())

display(df.groupby(['cardio'])['bmi'].describe())

display(df[(df['cardio'] == 0) & (df['alco'] == 0)].groupby(['gender'])['bmi'].describe())

26.37406812077498

,count,mean,std,min,25%,50%,75%,max
gender,,,,,,,,
1,45530.0,27.987583,6.495638,8.001829,23.875115,26.709402,31.044558,298.666667
2,24470.0,26.754442,5.162752,3.471784,23.781213,25.910684,29.043709,180.678074

,count,mean,std,min,25%,50%,75%,max
cardio,,,,,,,,
0,35021.0,26.548175,5.606469,7.022248,23.388687,25.476660,28.763971,237.768633
1,34979.0,28.566061,6.383666,3.471784,24.489796,27.471384,31.555556,298.666667

,count,mean,std,min,25%,50%,75%,max
gender,,,,,,,,
1,22332.0,26.845407,5.843207,9.331007,23.43750,25.654372,29.384676,237.768633
2,10748.0,25.872638,4.918895,14.609204,23.30668,25.102391,27.755102,170.414201