In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn import cross_validation, datasets, linear_model, metrics 
%matplotlib inline

D:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv("bfd/train_dataset.csv")

In [4]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,Dest,Distance,TaxiIn,TaxiOut,target
0,1,1,2,1007.0,1109.0,AA,511,N404AA,34.0,AUS,DFW,190,15.0,13.0,1
1,1,1,2,1411.0,1521.0,NW,1631,N363NB,37.0,TVC,DTW,207,9.0,24.0,1
2,1,1,2,859.0,1112.0,MQ,4645,N700LE,103.0,BDL,RDU,532,3.0,27.0,0
3,1,1,2,1835.0,2159.0,MQ,4838,N704PG,130.0,XNA,LGA,1147,6.0,8.0,1
4,1,1,2,1305.0,1924.0,US,185,N655AW,229.0,PHX,FLL,1972,9.0,21.0,1

In [5]:
df.shape

(3504864, 15)

In [6]:
df.isnull().sum()

Month                0
DayofMonth           0
DayOfWeek            0
DepTime          68007
ArrTime          75659
UniqueCarrier        0
FlightNum            0
TailNum          41498
AirTime          77222
Origin               0
Dest                 0
Distance             0
TaxiIn           75659
TaxiOut          68411
target               0
dtype: int64

In [7]:
df['target'].value_counts()

0    2481908
1    1022956
Name: target, dtype: int64

In [8]:
from sklearn.utils import shuffle  #мешаем датасет
df = shuffle(df).head(1000000)  #берем первый 1000000

In [9]:
clf_target = df['target'] #создаем датасет с ответами

In [10]:
clf_data = df.drop('target', axis=1 ) #удаляем из трейнового датасета ответы

In [11]:
clf_data = clf_data.fillna(0) #заменяем все NaN на 0



#clf_data["DepTime"] = clf_data["DepTime"].fillna(clf_data["DepTime"].mean()) #заменяем на среднее, если вещественные в скобках
#clf_data["ArrTime"] = clf_data["ArrTime"].fillna(clf_data["ArrTime"].mean()) #пишем какое-то слово
#clf_data["AirTime"] = clf_data["AirTime"].fillna(clf_data["AirTime"].mean())
#clf_data["TaxiIn"] = clf_data["TaxiIn"].fillna(clf_data["TaxiIn"].mean())
#clf_data["TaxiOut"] = clf_data["TaxiOut"].fillna(clf_data["TaxiOut"].mean())

In [12]:
def season(dfmounth):
    if dfmounth in [1, 2, 12]:
        return 'winter'
    elif dfmounth in [3, 4, 5]:
        return 'fall'
    elif dfmounth in [6, 7, 8]:
        return 'summer'
    else:
        return 'autumn'

In [13]:
clf_data['Season'] = clf_data.Month.map(season)

In [14]:
seasons_four = pd.get_dummies(clf_data.loc[:, ['Season']], columns=['Season'], dummy_na=False)

In [15]:
seasons_four.head()

         Season_autumn  Season_fall  Season_summer  Season_winter
2785771              1            0              0              0
2876351              1            0              0              0
1805482              0            0              1              0
2773250              1            0              0              0
2634182              1            0              0              0

In [16]:
clf_data = pd.concat([clf_data, seasons_four], axis=1, join='inner')
clf_data.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,Dest,Distance,TaxiIn,TaxiOut,Season,Season_autumn,Season_fall,Season_summer,Season_winter
2785771,10,11,6,1134.0,1425.0,OO,6605,N929SW,89.0,DEN,MLI,751,5.0,17.0,autumn,1,0,0,0
2876351,10,21,2,1100.0,1216.0,WN,2230,N274WN,51.0,FLL,JAX,318,6.0,19.0,autumn,1,0,0,0
1805482,7,1,2,914.0,1023.0,9E,4718,89289E,37.0,MSP,FAR,223,5.0,27.0,summer,0,0,1,0
2773250,10,9,4,1238.0,1402.0,OO,5479,N292SW,54.0,SFO,BFL,238,5.0,25.0,autumn,1,0,0,0
2634182,9,24,3,1625.0,1714.0,WN,35,N734SA,35.0,HOU,CRP,187,5.0,9.0,autumn,1,0,0,0

In [42]:
clf_data['target'] = clf_target

In [43]:
carrier_mean = clf_data.loc[:, ['UniqueCarrier', 'target']].groupby('UniqueCarrier').agg('mean').reset_index()
carrier_mean.rename(columns={'target':'UniqueCarrier_mean'}, inplace = True)
carrier_mean

   UniqueCarrier  UniqueCarrier_mean
0             9E            0.208966
1             AA            0.332742
2             AQ            0.113020
3             AS            0.273077
4             B6            0.294450
5             CO            0.358702
6             DL            0.266884
7             EV            0.307380
8             F9            0.326210
9             FL            0.283899
10            HA            0.137149
11            MQ            0.301182
12            NW            0.238897
13            OH            0.287661
14            OO            0.246553
15            UA            0.328563
16            US            0.234553
17            WN            0.335551
18            XE            0.290922
19            YV            0.277072

In [52]:
clf_data = pd.merge(clf_data, carrier_mean, on='UniqueCarrier')
clf_data.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,...,Distance,TaxiIn,TaxiOut,Season,Season_autumn,Season_fall,Season_summer,Season_winter,target,UniqueCarrier_mean
0,2,22,5,1328.0,1428.0,OO,5756,N295SW,36.0,SFO,...,153,5.0,19.0,winter,0,0,0,1,1,0.246553
1,2,21,4,843.0,952.0,OO,3757,N416SW,96.0,SLC,...,574,3.0,30.0,winter,0,0,0,1,1,0.246553
2,3,15,6,1259.0,1443.0,OO,6478,N742SK,72.0,BZN,...,525,15.0,17.0,fall,0,1,0,0,0,0.246553
3,6,8,7,1834.0,1931.0,OO,5712,N224SW,40.0,LAS,...,173,6.0,11.0,summer,0,0,1,0,0,0.246553
4,4,26,6,1202.0,1333.0,OO,5582,N221SW,79.0,MFR,...,329,3.0,9.0,fall,0,1,0,0,0,0.246553

In [56]:
clf_data['UniqueCarrier_mean'].value_counts()

0.335551    171023
0.332742     86803
0.246553     81147
0.301182     70127
0.234553     64625
0.266884     64530
0.328563     63866
0.290922     53413
0.238897     49670
0.358702     42414
0.307380     39905
0.208966     37518
0.283899     37295
0.277072     36449
0.287661     28179
0.294450     27998
0.273077     21580
0.326210     13617
0.137149      8735
0.113020      1106
Name: UniqueCarrier_mean, dtype: int64

In [57]:
#carriers = pd.get_dummies(clf_data.loc[:, ['UniqueCarrier']], columns=['UniqueCarrier'], dummy_na=False)
#carriers.head()

In [58]:
#clf_data = pd.concat([clf_data, carriers], axis=1, join='inner')
#clf_data.head()

In [59]:
real = ['Month',
        'DayofMonth', 
        'DayOfWeek', 
        'DepTime', 
        'ArrTime', 
        'AirTime', 
        'Distance', 
        'TaxiIn',
        'TaxiOut',
        'Season_autumn',
        'Season_fall',
        'Season_summer', 
        'Season_winter',
        'UniqueCarrier_mean',
        #'UniqueCarrier_WW',
        #'UniqueCarrier_AA',
        #'UniqueCarrier_OO',
        #'UniqueCarrier_MQ',
        #'UniqueCarrier_US',
        #'UniqueCarrier_DL',
        #'UniqueCarrier_UA',
        #'UniqueCarrier_XE',
        #'UniqueCarrier_NW',
        #'UniqueCarrier_CO',
        #'UniqueCarrier_EV',
        #'UniqueCarrier_9E',
        #'UniqueCarrier_FL',
        #'UniqueCarrier_YV',
        #'UniqueCarrier_OH',
        #'UniqueCarrier_D6',
        #'UniqueCarrier_AS',
        #'UniqueCarrier_F9',
        #'UniqueCarrier_HA',
        #'UniqueCarrier_AQ'
       ]

In [60]:
clf_data.isnull().sum()

Month                 0
DayofMonth            0
DayOfWeek             0
DepTime               0
ArrTime               0
UniqueCarrier         0
FlightNum             0
TailNum               0
AirTime               0
Origin                0
Dest                  0
Distance              0
TaxiIn                0
TaxiOut               0
Season                0
Season_autumn         0
Season_fall           0
Season_summer         0
Season_winter         0
target                0
UniqueCarrier_mean    0
dtype: int64

In [61]:
clf_train_data, clf_test_data, clf_train_labels, clf_test_labels = cross_validation.train_test_split(clf_data, clf_target,
                                                                                     test_size = 0.3, random_state = 1)

In [62]:
classifier = linear_model.LogisticRegression(C=1.0)
classifier.fit(clf_train_data.loc[:, real], clf_train_labels)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [65]:
for i, c in enumerate(classifier.coef_[0]):
    print("%s: %f" % (clf_data[real].columns[i], c))

Month: 0.002192
DayofMonth: -0.000085
DayOfWeek: 0.001141
DepTime: -0.000003
ArrTime: -0.000006
AirTime: 0.000159
Distance: -0.000019
TaxiIn: -0.000402
TaxiOut: -0.000246
Season_autumn: -0.181387
Season_fall: -0.159083
Season_summer: -0.160687
Season_winter: -0.164582
UniqueCarrier_mean: -0.177795

In [63]:
predictions = classifier.predict_proba(clf_test_data.loc[:, real])[:,1]

In [64]:
metrics.roc_auc_score(clf_test_labels, predictions)

0.50004978200434069

In [28]:
df_test = pd.read_csv("train_dataset.csv")

In [29]:
df_test_target = df_test['target']

In [30]:
df_test_data = df_test.drop('target', axis=1 )

In [31]:
df_test_data = df_test_data.fillna(0)

In [32]:
prediction_all = classifier.predict_proba(df_test_data.loc[:, real])[:, 1]

In [33]:
metrics.roc_auc_score(df_test_target, prediction_all)

0.67660726157264672

In [189]:
test_data = pd.read_csv("test_dataset.csv")

In [190]:
test_data['Season'] = test_data.Month.map(season)

In [191]:
test_data = test_data.fillna(0)
#test_data["DepTime"] = test_data["DepTime"].fillna(test_data["DepTime"].mean())
#test_data["ArrTime"] = test_data["ArrTime"].fillna(test_data["ArrTime"].mean())
#test_data["AirTime"] = test_data["AirTime"].fillna(test_data["AirTime"].mean())
#test_data["TaxiIn"] = test_data["TaxiIn"].fillna(test_data["TaxiIn"].mean())
#test_data["TaxiOut"] = test_data["TaxiOut"].fillna(test_data["TaxiOut"].mean())

In [192]:
k_predictions = classifier.predict_proba(test_data.loc[:, real])[:, 1]

NotFittedError: Call fit before prediction

In [ ]:
k_predictions.shape

In [ ]:
k_predictions.head()

In [23]:
pd.DataFrame({'Id':test_data.Id, 'Prediction1':k_predictions}).to_csv('two.csv', index=False)