In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
from sklearn import cross_validation, datasets, linear_model, metrics 
%matplotlib inline

D:\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [3]:
df = pd.read_csv("bfd/train_dataset.csv")

In [4]:
df.head()

,Month,DayofMonth,DayOfWeek,DepTime,ArrTime,UniqueCarrier,FlightNum,TailNum,AirTime,Origin,Dest,Distance,TaxiIn,TaxiOut,target
0,1,1,2,1007.0,1109.0,AA,511,N404AA,34.0,AUS,DFW,190,15.0,13.0,1
1,1,1,2,1411.0,1521.0,NW,1631,N363NB,37.0,TVC,DTW,207,9.0,24.0,1
2,1,1,2,859.0,1112.0,MQ,4645,N700LE,103.0,BDL,RDU,532,3.0,27.0,0
3,1,1,2,1835.0,2159.0,MQ,4838,N704PG,130.0,XNA,LGA,1147,6.0,8.0,1
4,1,1,2,1305.0,1924.0,US,185,N655AW,229.0,PHX,FLL,1972,9.0,21.0,1

In [5]:
df.shape

(3504864, 15)

In [6]:
df.isnull().sum()

Month                0
DayofMonth           0
DayOfWeek            0
DepTime          68007
ArrTime          75659
UniqueCarrier        0
FlightNum            0
TailNum          41498
AirTime          77222
Origin               0
Dest                 0
Distance             0
TaxiIn           75659
TaxiOut          68411
target               0
dtype: int64

In [7]:
df['target'].value_counts()

0    2481908
1    1022956
Name: target, dtype: int64

In [8]:
clf_target = df['target']

In [9]:
clf_data = df.drop('target', axis=1 )

In [11]:
clf_data = clf_data.fillna(0)

In [12]:
def season(dfmounth):
    if dfmounth in [1, 2, 12]:
        return 1
    elif dfmounth in [3, 4, 5]:
        return 2
    elif dfmounth in [6, 7, 8]:
        return 3
    else:
        return 4

In [13]:
clf_data['Season'] = clf_data.Month.map(season)

In [14]:
clf_train_data, clf_test_data, clf_train_labels, clf_test_labels = cross_validation.train_test_split(clf_data, clf_target,
                                                                                     test_size = 0.3, random_state = 1)

In [15]:
real = ['Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'ArrTime', 'AirTime', 'Distance', 'TaxiIn', 'TaxiOut']

In [16]:
clf_data.shape

(3504864, 15)

In [ ]:
classifier = linear_model.LogisticRegression(C=1.0)
classifier.fit(clf_train_data.loc[:, real], clf_train_labels)

In [ ]:
predictions = classifier.predict_proba(clf_test_data.loc[:, real])[:, 1]

In [ ]:
metrics.roc_auc_score(clf_test_labels, predictions)

In [ ]:
test_data = pd.read_csv("test_dataset.csv")

In [ ]:
test_data['Season'] = test_data.Month.map(season)

In [ ]:
test_data = test_data.fillna(0)
#test_data["DepTime"] = test_data["DepTime"].fillna(test_data["DepTime"].mean())
#test_data["ArrTime"] = test_data["ArrTime"].fillna(test_data["ArrTime"].mean())
#test_data["AirTime"] = test_data["AirTime"].fillna(test_data["AirTime"].mean())
#test_data["TaxiIn"] = test_data["TaxiIn"].fillna(test_data["TaxiIn"].mean())
#test_data["TaxiOut"] = test_data["TaxiOut"].fillna(test_data["TaxiOut"].mean())

In [ ]:
k_predictions = classifier.predict_proba(test_data.loc[:, real])[:, 1]

In [ ]:
k_predictions.shape

In [ ]:
pd.DataFrame({'Id':test_data.Id, 'Prediction1':k_predictions}).to_csv('two.csv', index=False)

In [ ]:
df['FlightNum'].value_counts().sum()